# Zerify Monorepo Global Environment Variables

# Neon PostgreSQL Connection String (Direct or Pooled Connection)
DATABASE_URL="postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sample-123456.us-east-2.aws.neon.tech/zerify?sslmode=require"

# NestJS Backend API URL
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"

# Upstash Redis
REDIS_URL="redis://default:YOUR_REDIS_PASSWORD@sample.upstash.io:6379"

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Neon Auth / JWT
NEON_AUTH_DOMAIN="https://your-neon-auth.neon.tech"
JWT_SECRET="super-secret-jwt-key"

# Meta / Facebook & Instagram Integration
META_APP_ID="your-meta-app-id"
META_APP_SECRET="your-meta-app-secret"
META_GRAPH_URL="https://graph.facebook.com/v19.0"
META_REDIRECT_URI="https://gyration-dragging-freebie.ngrok-free.dev/api/v1/social/meta/callback"
SOCIAL_ENCRYPTION_SECRET="32-byte-hex-encryption-key"

