# Neon PostgreSQL Connection String
DATABASE_URL="postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sample-123456.us-east-2.aws.neon.tech/zerify?sslmode=require"

PORT=4000
NODE_ENV="development"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Redis
REDIS_URL="redis://localhost:6379"

# Neon Auth / JWT
NEON_AUTH_DOMAIN="https://your-neon-auth.neon.tech"
JWT_SECRET="zerify-dev-secret-key"
